<div class="page-area">
    <div class="text-centre">
    <h2>Communication Between Components</h2>
    <!-- <p>This is a comunication page between Parent and Child </p> -->
    </div>


    <div class="alert alert-light border d-flex align-items-center" *ngIf="AddedtoCart">
      <strong  class="text-success">{{AddedtoCart}}</strong>&nbsp;is selected and Added to cart
      <button class="btn btn-success ml-auto">CheckOut</button>
    </div>
    
  





<div class="row">
        <div class="col-md-12">
           <div class="card" appTestDirective> 
            <img src="../../assets/images/leptop.jpeg" width="230" height="150">
                 <div class="card-body">
                  <h3 class="card-title">  <main>Laptop</main></h3>
                        <button class="btn btn-success" (click)="OnproductSelected('Laptop')">Select this product</button>   
                 </div>
                 </div>
            
         
       
    
    
    
    
       <div class="card" appTestDirective> 
        <img src="../../assets/images/mobile.jpeg" width="230" height="150">
             <div class="card-body">
              <h3 class="card-title">  <main>Mobile</main></h3>
            <button class="btn btn-success" (click)="OnproductSelected('Mobile')">Select this product</button>  
             </div>
             </div>


   <div class="card" appTestDirective> 
           <img src="../../assets/images/watch.jpeg" width="230" height="150">
             <div class="card-body">
              <h3 class="card-title">Watch</h3>
              <button class="btn btn-success" (click)="OnproductSelected('Watch')">Select this product</button>  
             </div>
           </div>

   <div class="card" appTestDirective> 
           <img src="../../assets/images/washing.jpeg" width="230" height="150">
             <div class="card-body">
              <h3 class="card-title">Washing Machine</h3>
               <button class="btn btn-success" (click)="OnproductSelected('Washing Machine')">Select this product</button>  
             </div>
             </div>
            </div>

            <!-- Insert the selector of child component child component property bindign by custom property in parent component-->
            <!-- <app-childcommunication [placeHolderText]="myname"></app-childcommunication> -->
            <app-childcommunication class="w-100" [productSelected]="proSelected" 
            [selectedProduct]=" sellProduct" (AddedtoCart)="OnAddtoCart($event)">
          </app-childcommunication>
            
        </div>
  </div>