<div class="page-area">
<h1>Banner</h1>
<p>These Banner represent the content of our Website</p>
  <div class="row">
       <div class="col-md-3">
          <app-ng-content>
                <img src="../../assets/images/leptop.jpeg" class="image" width="200" height="150">
                <h3 class="card-title">Laptop</h3>
                <button class="btn btn-success" (click)="myMessage('Laptop')">Know More about Laptop</button>
          </app-ng-content>
      </div>  
     
      <div class="col-md-6">
            <app-ng-content>
                    <img src="../../assets/images/mobile.jpeg" class="image">
                    <h3 class="card-title">Mobile</h3>
                    <button class="btn btn-success" (click)="myMessage('Mobile')">Know More about Mobile</button>
            </app-ng-content>
        </div> 
        <div class="col-md-6">
                <app-ng-content>
                        <img src="../../assets/images/watch.jpeg" class="image">
                        <h3 class="card-title">Watch</h3>
                        <button class="btn btn-success" (click)="myMessage('Watch')">Know More about Watch</button>
                </app-ng-content>
            </div> 
            <div class="col-md-6">
                    <app-ng-content>
                        <img src="../../assets/images/washing.jpeg" class="image" width="230" height="150">
                        <h3 class="card-title">Washing Machine</h3>
                        <button class="btn btn-success" (click)="myMessage('washing Machine')">Know More about Washing Machine</button>
                     
                    </app-ng-content>
                
                </div> 
               </div>
               <div>
