div{

        margin: auto;
        width: 60%;
        border: 3px solid #73AD21;
        padding: 10px;
        
            .p{
                padding-left:10%
            }
        }

// }
// // element.style {
// //     margin-bottom: auto;
// //     padding-left: 40%
// // }
// h1{
// padding-left:30%
// }

// .card{

// }
