
<div class="card"> 
        <img src="../../assets/images/mobile.jpeg" width="250" height="150">
             <div class="card-body">
              <h3 class="card-title">  <main>Mobile</main></h3>
               <p class="card text">some example for ,Mobile here<p>   
             </div>
             </div>
   
   
   <div class="card"> 
           <img src="../../assets/images/watch.jpeg" width="250" height="150">
             <div class="card-body">
              <h3 class="card-title">Watch</h3>
               <p class="card text">some example for Watch here<p>   
             </div>
             </div>
   
   
   <div class="card"> 
           <img src="../../assets/images/washing.jpeg" width="230" height="150"  width="250" height="150">
             <div class="card-body">
              <h3 class="card-title">Washing Machine</h3>
               <p class="card text">some example for Washing Machine here<p>   
             </div>
             </div>